<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Node.js Inclusivity WG Slack Inviter</title>

	<link rel="stylesheet" href="/public/style.css">
</head>
<body>

<header>
	<div class="container">
		<img src="/public/node-logo.png" alt="Node.js Foundation Logo">
		<h1>Node.js Inclusivity Slack Inviter</h1>
	</div>
</header>

<div class="container">
	{{{body}}}
</div>

</body>
</html>
