<p>Thanks for your interest in improving inclusivity and diversity within the Node.js community.<p>

<p>To join the Node.js Inclusivity Slack team, you can <a href="/signup">generate an invitation by authenticating with GitHub</a> or you can send an email to <a href="mailto:inclusivity@iojs.org">inclusivity@iojs.org<a/>.<p>

{{> public-email}}
