<p>Welcome {{name}}! Before we send your invitation, please verify that you would like to join using the email address {{email}}.</p>

{{> public-email}}

<form method="post" action="/signup">
	<button type="submit">Join Slack</button>
</form>
