body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  font: 20px/1.5 "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
}

header {
  padding: 2em 0 1px;
  background-color: #333;
  color: #ccc;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
}

.note {
  margin: 1em;
  padding: 1em;
  background-color: #eaf5e9;
  border-radius: 2px;
}

.error {
  margin: 1em;
  padding: 1em;
  background-color: #fbbbbe;
  border-radius: 2px;
}

form {
  text-align: center;
}

button[type="submit"] {
  padding: 0.25em;
  font: 40px "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background-color: #ccc;
}
